.enquiries {
    background: rgba(247, 247, 236, .2);
    display: flex;
    flex-wrap: wrap;
}

.enquiries__contact-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 4rem;

}

.enquiries__title {
    flex-basis: 100%;
    text-align: center
}

.enquiries__item {
    width: 300px;
    flex-grow: 1;
}

.enquiries__item--main-heading {
    flex-basis: 100vw;
    text-align: center;
    background-color: rgba(230, 202, 202, 0.4);
}
