.header {
    height: 5rem
}
nav ul {
    height: inherit;
    display: flex;    
    flex-wrap: wrap;
    text-align: center;
    align-items: center
}

nav ul li {
    width: 400px;
    flex-grow: 1;
    flex-shrink: 0;    
}
