.header {
    height: 5rem
}
nav.header ul {
    height: inherit;
    display: flex;    
    flex-wrap: wrap;
    text-align: center;
    align-items: center
}

nav ul li {
    flex-grow: 1;
    flex-shrink: 0;    
}

small devices
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }