.header {
    height: 5rem;
    background-color: rgba(230, 202, 202, 0.4);
}
nav.header ul {
    height: inherit;
    display: flex;    
    flex-wrap: wrap;
    text-align: center;
    align-items: center
}

nav ul li {
    flex-grow: 1;
    flex-shrink: 0;    
}