.hero {	
	background: #c2bbb1 url("../images/1.jpg") center center no-repeat;
	background-size: cover;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center
}

.hero__title {
	color: beige
}