
ul#nav {

	height: 236px;
	width: 800px;
	margin: 0 auto;
	list-style: none;
}


ul#nav li a {

	display: block;
	width: 130px;
	float: left;
	margin-top: 168px;
	color: black;
	font-weight: bold;

}